@model PraGroup.Models.PraGroupModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

@using (Html.BeginForm("Calculate", "Home", FormMethod.Post))
{

        <div class="col-md-4">
            <br /><br />
            <p>@Html.DropDownList("SelectedWidgetId", ViewBag.Widgets as SelectList, " Select Widgets  ")</p>
            <p>@Html.ValidationMessageFor(model => model.SelectedWidgetId,"",new { @style="color:red"}) </p>
            
            <p>  @Html.TextBox("WidgetQty","Enter Quantity")</p>
            <p>@Html.ValidationMessageFor(model => model.WidgetQty,"", new { @style = "color:red" }) </p>
           
           <p> @Html.DropDownList("SelectedStateId", ViewBag.States as SelectList, " Select State  ")</p>
            <p>@Html.ValidationMessageFor(model => model.SelectedStateId, "", new { @style = "color:red" }) </p>
           <br />
            <input type="submit" value="Submit" />
        </div>
    <br />
}
  </div>